<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css" type="text/css" />
    <title>Weather Application</title>
</head>
<body>
    
    <img id="hero" src="../public/images/taxi-autopilot.png" alt="https://icons8.com"/> 
    <header>
        <h1>Weather <br/> Application</h1>
        <p>illustration by <strong>Ouch.pics</strong></p>
    </header>
    <main>
        <p>Type the name of a city to find out the weather conditions</p>
        <form action="post" id="weatherForm">
            <input type="text" id="city" placeholder="City Name"/>
            <input id="postSubmit" type="submit" value="Submit" />
        </form>
    </main>
    <script src="../public/functions.js"></script>

</body>
</html>